@import "./__variable.scss";

.main-app-content
{
    @media (max-width: 1024px) {
        padding-bottom: 570px;
    }
    @media (max-width: 768px) {
        padding-bottom: 235px;
    }
    @media (max-width: 700px) {
        padding-bottom: 0;
    }
    .details{
        position: absolute;
        z-index: 1;
        bottom: 25px;
        left: 20px;
        color: $thirdColor;
        h1{
            color: $thirdColor;
            font-size: 20px;
            font-weight: 400;
            @media (max-width: 320px) {
                font-size: 15px;
            }
        }
    }
    span{
        font-size: 12px;
    }
    .editor{
        margin-right: 10px;
        display: inline-block;
        background-color: $mainColor;
        padding: 1px 10px;
        color: $thirdColor;
    }
    .raiber{
        border-right: 1px solid #bfbfbf;
        padding-right: 10px;
        margin-right: 10px;
        color: $mainColor;
    }
    .history{
        color: #bfbfbf;
    }
    .title{
        border-top: 1px solid #b7b7b7;
        position: relative;
        h1{
            position: absolute;
            top: -15px;
            left: 0;
            z-index: 10;
            background-color: $thirdColor;
            color: $secondColor;
            border-left: 5px solid #0f5fa3;
            padding: 0 18px;
            font-size: 24px;
            font-weight: 900;
            @media (max-width: 768px) {
                top: -25px;
            }
            @media (max-width: 700px) {
                font-size: 20px;
            }
        }
    }
    .img{
        overflow: hidden;
        img{
            cursor: pointer;
            transition: all .5s;
            width: 100%;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}