@import "../../../Style/__variable.scss";

.main-home-page-container
{

    h1{
        margin: 10px 0;
        font-size: 17px;
        font-weight: 500;
        color: #001936;
        transition: all .5s;
        cursor: pointer;
        @media (max-width: 320px) {
            font-size: 11px;
        }
        &:hover{
            color: $mainColor;
        }
    }
    P{
        margin: 10px 0;
        font-size: 15px;
        color: #8b8d91;
        @media (max-width: 320px) {
            font-size: 12px;
        }
    }
    .blog-items
    {
        margin: 50px 0;
    }
    .blog-item
    {
        .item{
            display: inline-block;
            width: 50%;
            margin-bottom: 25px;
            padding: 0 10px;
            @media (max-width: 768px) {
                width: 100%;
                padding: 0;
            }
        }
    }
}